---
import "../styles/global.css";
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import BaseLayout from './BaseLayout.astro';
const { pageTitle } = Astro.props;
---

<html lang="en">
	<head>
        <BaseLayout pageTitle={frontmatter.title}></BaseLayout>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	<body>
		<Navigation />
		<Header />
		<h1>János Visuals</h1>
		<style>
			h1{
				color:orange;
				font-size: 2rem;
			}
		</style>
		<h2>Welcome to János Visuals!</h2>
        <slot />
        </BaseLayout>
		<Footer />
		<script>
		 	import "../scripts/menu.js";
		  </script>
	</body>
</html>